@import '../mixins';

.button {
  $self: &;
  font-family: var(--ermilov-font);
  border: 2px solid;
  border-radius: 100px;
  text-align: center;
  @extend .button-text;
  @extend %flex-center;
  padding: 0 20px;
  transition: .3s ease;
  max-width: 290px;
  width: 100%;
  transition-property: color, background-color, border;
  flex-shrink: 0;

  &--primary {
    height: 58px;
    background-color: $p-default;
    border-color: $p-default;
    color: $c-gray-100;

    &:hover {
      background-color: $p-hover;
      border-color: $p-hover;
    }

    &:active {
      background-color: $p-pressed;
      border-color: $p-pressed;
    }

    &:disabled {
      background-color: $p-disabled;
      border-color: $p-disabled;
      color: $c-gray-70;
    }
  }
  
  &--secondary {
    &.button {
      &--large {
        height: 58px;
      }

      &--small {
        height: 48px;
      }

      &--black {
        color: $c-gray-0;
        border-color: $c-gray-0;
        background-color: $c-gray-100;

        &:hover {
          border-color: $c-gray-0;
          background-color: $c-gray-0;
          color: $p-default;
        }

        &:active {
          background-color: $c-gray-10;
          border-color: $c-gray-10;
        }

        &:disabled {
          border-color: $c-gray-50;
          color: $c-gray-50;
          background-color: $c-gray-100;
        }
      }

      &--white {
        color: $c-gray-100;
        border-color: $c-gray-100;
        background: $c-gray-0;

        &:hover {
          background-color: $c-gray-100;
          border-color: $c-gray-100;
          color: $c-gray-0;
        }

        &:active {
          background-color: $c-gray-80;
          border-color: $c-gray-80;
        }

        &:disabled {
          border-color: $c-gray-50;
          color: $c-gray-50;
          background-color: $c-gray-0;
        }
      }
    }
  }
}