// primary
$p-default: #ACAAFA;
$p-hover: #8785FF;
$p-pressed: #7371EE;
$p-disabled: #CECEDD29;

// statuses
$s-success: #02A128;
$s-warning: #D48B00;
$s-error: #DA1414;

// gray
$c-gray-100: #141519;
$c-gray-90: #2C2C30;
$c-gray-80: #434447;
$c-gray-70: #5B5B5E;
$c-gray-60: #727375;
$c-gray-50: #898A8C;
$c-gray-40: #A1A1A3;
$c-gray-30: #B9B9BA;
$c-gray-20: #D0D0D1;
$c-gray-10: #E8E8E8;
$c-gray-5: #F3F3F4;
$c-gray-0: #FFFFFF;

// background
$bg-light-blue: #FCFCFD;
$bg-light-violet: #F6F4F9;
$bg-form: #1E1E21;

// label
$l-pink: #FF008A;
$l-pink-10: #FFE6F3;
$l-green: #01D87E;
$l-green-10: #DAF9EC;
$l-orange: #F4BF00;
$l-orange-10: #FFF1DC;
$l-blue: #01A5D8;
$l-blue-10: #D9F2F9;
$l-crimson: #D8015B;
$l-crimson-10: #FBE6EF;

// sizes
$containerWidth: 1670px;
$inner-block: 500px;
$defaultFontSize: 16px;

// breakpoints
$xxl: 1441px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
