@import '@Styles/mixins';


.label {
  display: inline-flex;
  align-items: center;
  border-radius: 30px;
  border-width: 2px;
  border-style: solid;
  padding: 8px 20px;
  margin-bottom: 12px;

  @include bp-min(lg) {
    margin-bottom: 16px;
  }
}

.icon {
  margin-right: 10px;
}

.title {
  text-transform: uppercase;
}