@import 'src/styles/mixins';


.locale {
  display: flex;
  margin-left: 32px;
}

.langItem {
  cursor: pointer;
  color: #d5d7db;

  &:not(:last-of-type) {
    padding-right: 8px;
    margin-right: 8px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 1px;
      height: 12px;
      background-color: rgba(44, 53, 77, 0.2);
      transform: translateY(-50%);
    }
  }
}

.langActive {
  color: #959aa6;
}
