@import '@Styles/mixins';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include bp-max(lg) {
    flex-direction: column;
    align-items: center;
  }
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  transition: opacity .3s ease;

  &:hover {
    opacity: .7;
  }

  @include bp-max(lg) {
    margin-bottom: 32px;
  }
}

.info {
  @include bp-max(lg) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  @include bp-min(lg) {
    margin-bottom: 36px;
  }
}

.infoLink {
  text-align: center;
  transition: color .3s ease;

  &:hover {
    color: $p-default;
  }

  @include bp-max(lg) {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  @include bp-min(lg) {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}

.rights {
  @include bp-max(lg) {
    order: 1;
  }
}

.social {
  display: flex;

  @include bp-max(lg) {
    margin-bottom: 40px;
  }
}

.socialLink {
  width: 22px;
  height: 22px;
  display: block;
  transition: color .3s ease;
  color: $c-gray-0;

  &:hover {
    color: $p-default;
  }

  &:not(:last-child) {
    margin-right: 32px;

    @include bp-min(lg) {
      margin-right: 24px;
    }
  }
}